<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords"
    content="cybersecurity, cipher, cyber, security, hash, encryption, md5, sayak, karar, suranjan, saha, preetam, bhattacharya, aniket, pal">
  <meta name="author" content="The Hacktivists">

  <title>Delphinator - The Delphic Simulator</title>

  <!-- =============== FAVICONS =============== -->
  <link href="../static/img/logo.png" rel="icon">
  <link href="../static/img/logo.png" rel="apple-touch-icon">

  <!-- =============== VENDOR CSS =============== -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">

  <!-- =============== STYLE CSS =============== -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- =======================================================
    * PROJECT NAME: DELPHINATOR
    * TEAM NAME: THE HACKTIVISTS
    * AUTHOR: SAYAK KARAR
    ======================================================== -->
</head>

<body>

  <!-- =============== HEADER =============== -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- ~~~~~~~~~~~~~~~ Logo & Title ~~~~~~~~~~~~~~~ -->
      <div class="logo">
        <a href="index.html"><img src="../static/img/logo.png" class="img-fluid"></a>
        <h1><a href="/"><span>Delphinator</span></a></h1>
      </div>

      <!-- ~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~ -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li class="dropdown scrollto"><a href="#"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/combo_cipher" target="_blank">Combi-pher</a></li>
              <li><a href="/rot13" target="_blank">ROT13 Cipher</a></li>
              <li><a href="/base" target="_blank">Base Cipher</a></li>
              <li><a href="/rsa" target="_blank">RSA Cipher</a></li>
              <li><a href="/morse_code" target="_blank">Morse Code</a></li>
              <li><a href="/md5hash" target="_blank">MD5 Hash</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
          <li><a href="mailto:wearehacktivists@gmail.com"><button type="button" class="btn btn-primary">Send
                Email</button></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- =============== HERO SECTION =============== -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-8 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1 style="padding-bottom: 20px;">Start Understanding Cryptography With <span>Delphinator 2.0</span></h1>
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="../static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section>

  <main id="main">

    <!-- =============== ABOUT SECTION =============== -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About</h2>
          <p>What Are We</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              <strong><i>Delphinator</i></strong> is a learning platform that provides, people who are about to step
              into the domain of Cryptography or are new to it, an opportunity to:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Get a boost and enthusiasm in unraveling the mysteries of
                cryptography.</li>
              <li><i class="ri-check-double-line"></i> Comprehend how the cipher and hash algortihms work with
                flowcharts and built-in calculators for simulated experience. </li>
              <li><i class="ri-check-double-line"></i> Learn about the unknown facts about cryptography and their
                applications in reality.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              This website is developed by an aggregation of 4 sophomores from the CSE commune of the halls of ivy,
              Techno International New Town. This website also provides various features for better user experience and
              opportunity to explore new horizons.
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- =============== FEATURES =============== -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
          <p>Check our features</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch abc" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4><a href="">Combi-pher</a></h4>
              <p style="padding-bottom: 10px;">Tool for multi-cipher decrypt/encrypt Caesar Cipher, Vignere Cipher and
                Rail Fence Cipher for enhanced security.</p>
              <a href="/combo_cipher" target="_blank"><button type="button" class="btn btn-success">Let's Go
                  Ciphering</button></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch abc" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4><a href="">ROT13 Cipher</a></h4>
              <p style="padding-bottom: 10px;">Tool to decrypt/encrypt with ROT13. In ROT13 cipher, the shift is equal
                to 13, this allow the cipher to be reciprocal</p>
              <a href="/rot13" target="_blank"><button type="button" class="btn btn-success">Let's Go
                  Ciphering</button></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch abc" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4><a href="">Base Cipher</a></h4>
              <p style="padding-bottom: 10px;">Tool to write numbers in base N. A base (radix) is the value of
                successive powers when writing a number.</p>
              <a href="/base" target="_blank"><button type="button" class="btn btn-success">Let's Go
                  Ciphering</button></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch abc" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4><a href="">RSA Cipher</a></h4>
              <p style="padding-bottom: 10px;">Tool to decrypt/encrypt with RSA cipher. RSA is an asymmetric algorithm
                for data exchange over the Internet.</p>
              <a href="/rsa" target="_blank"><button type="button" class="btn btn-success">Let's Go
                  Ciphering</button></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch abc" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4><a href="">Morse Code</a></h4>
              <p style="padding-bottom: 10px;">Tool to decrypt/encrypt Morse code. Morse code is a system allowing to
                code a message by short and long impulsion.</p>
              <a href="/morse_code" target="_blank"><button type="button" class="btn btn-success">Let's Go
                  Ciphering</button></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch abc" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4><a href="">MD5 Hash</a></h4>
              <p style="padding-bottom: 10px;">Tool to decrypt/encrypt MD5 function automatically, decryption via a huge
                dictionary of potential passwords.</p>
              <a href="/md5hash" target="_blank"><button type="button" class="btn btn-success">Let's Go
                  Ciphering</button></a>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- =============== TEAM SECTION =============== -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>The Hacktivists</p>
        </div>

        <div class="row gy-4">

          <!-- ~~~~~~~~~~~~~~~ Preetam Bhattacharya ~~~~~~~~~~~~~~~ -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/preetam.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/pree_007" target="_blank"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100013864037853" target="_blank"><i
                      class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/pree_at_his_best/" target="_blank"><i
                      class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/preetam-bhattacharya-033b3017b/" target="_blank"><i
                      class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Preetam Bhattacharya</h4>
                <span>Cipher Algorithm Engineer</span>
              </div>
            </div>
          </div>

          <!-- ~~~~~~~~~~~~~~~ Sayak Karar ~~~~~~~~~~~~~~~ -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/sayak.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://sayakarar.page.link/twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                  <a href="https://sayakarar.page.link/facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://sayakarar.page.link/instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://sayakarar.page.link/linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sayak Karar</h4>
                <span>Front End Web Developer</span>
              </div>
            </div>
          </div>

          <!-- ~~~~~~~~~~~~~~~ Suranjan Saha ~~~~~~~~~~~~~~~ -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/suranjan.jpg" class="img-fluid" alt="Suranjan Saha">
                <div class="social">
                  <a href="https://twitter.com/Suranjansaha11" target="_blank"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100009268386611" target="_blank"><i
                      class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/suranjansaha2002/" target="_blank"><i
                      class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/suranjan-saha-899769b7" target="_blank"><i
                      class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Suranjan Saha</h4>
                <span>Hash Algorithm Engineer</span>
              </div>
            </div>
          </div>

          <!-- ~~~~~~~~~~~~~~~ Aniket Pal ~~~~~~~~~~~~~~~ -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="../static/img/aniket.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://mobile.twitter.com/aniketpal333" target="_blank"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/aniket.pal.71653" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/an_un_official_auror/" target="_blank"><i
                      class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/aniket-pal-a10b77187" target="_blank"><i
                      class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aniket Pal</h4>
                <span>Back End Web Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>

    <!-- =============== CONTACT SECTION =============== -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email Us:</h4>
                <p><a href="mailto:wearehacktivists@gmail.com" target="_blank"
                    style="color:#010483;">wearehacktivists@gmail.com</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Visit Us:</h4>
                <p><a href="https://wearethehacktivists.netlify.app/" target="_blank"
                    style="color: #010483;">wearethehacktivists.netlify.app</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>

  <!-- =============== FOOTER =============== -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Delphinator</h3>
              <p class="pb-3"><em>The Delphic Simulator</em>
              </p>
              <p>
                The Hacktivists<br><br>
                <strong>Email: </strong>wearehacktivists@gmail.com<br>
              </p>
            </div>
          </div>

          <!-- ~~~~~~~~~~~~~~~ Useful Links ~~~~~~~~~~~~~~~ -->
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact Us</a></li>
            </ul>
          </div>

          <!-- ~~~~~~~~~~~~~~~ Features~~~~~~~~~~~~~~~ -->
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Features</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/combo_cipher" target="_blank">Combi-pher</a>
              </li>
              <li><i class="bx bx-chevron-right"></i> <a href="/rot13" target="_blank">ROT13 Cipher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/base" target="_blank">Base Cipher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/rsa" target="_blank">RSA Cipher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/morse_code" target="_blank">Morse Code</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/md5hash" target="_blank">MD5 Hash</a></li>
            </ul>
          </div>

          <!-- ~~~~~~~~~~~~~~~ Digital Clock ~~~~~~~~~~~~~~~ -->
          <div class="col-lg-4 col-md-6 footer-newsletter" data-count="2021/12/3">
            <div class="date">
              <span>Day</span>,
              <span>Month</span>
              <span>Date</span>,
              <span>Year</span>
            </div>

            <div class="time">
              <div>
                <h3>00</h3>
                <h4>Hours</h4>
              </div>
              <div>
                <h3>00</h3>
                <h4>Minutes</h4>
              </div>
              <div>
                <h3>00</h3>
                <h4>Seconds</h4>
              </div>
              <div>
                <h3>AM</h3>
                <h4>AM/PM</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Delphinator</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://wearethehacktivists.netlify.app/" target="_blank">The Hacktivists</a>
        </div>
      </div>
  </footer>

  <!-- =============== BACK TO TOP ARROW =============== -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- =============== VENDOR JS =============== -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/purecounter/purecounter.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- =============== MAIN JS =============== -->
  <script src="../static/js/main.js"></script>

</body>

</html>